<template>
  <section id="application" class="hero is-success is-fullheight">
    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="column is-4 is-offset-4">
          <h3 class="title has-text-grey">Apply for a loan now!</h3>
          <button
            class="button is-light is-warning"
            @click="$parent.autoFill()"
          >
            <span class="icon">
              <i class="fas fa-paint-roller"></i>
            </span>
            <span>Auto fill (demo)</span>
          </button>
          <div class="box">
            <div class="field">
              <label class="label">ローン目的タイプ</label>
              <div class="control has-icons-left">
                <div class="select">
                  <select v-model.trim="user.purpose">
                    <option value="car">Car</option>
                    <option value="credit_card">Credit card</option>
                    <option value="debt_consolidation"
                      >Debt consolidation</option
                    >
                    <option value="home_improvement">Home improvement</option>
                    <option value="house">House</option>
                    <option value="major_purchase">Major purchase</option>
                    <option value="medical">Medical</option>
                    <option value="moving">Moving</option>
                    <option value="renewable_energy">Renewable energy</option>
                    <option value="small_business">Small business</option>
                    <option value="vacation">Vacation</option>
                    <option value="wedding">Wedding</option>
                    <option value="other">Other</option>
                  </select>
                </div>
                <span class="icon is-left">
                  <i class="fas fa-question-circle"></i>
                </span>
              </div>
            </div>
            <div class="field">
              <label class="label">ローン目的</label>
              <div class="control has-icons-left">
                <input class="input" type="text" v-model.trim="user.title" />
                <span class="icon is-left">
                  <i class="fas fa-question-circle"></i>
                </span>
              </div>
            </div>
            <div class="field">
              <label class="label">ローン申込額</label>
              <div class="control has-icons-left">
                <input
                  class="input"
                  type="number"
                  v-model.number="user.loan_amnt"
                />
                <span class="icon is-left">
                  <i class="fas fa-dollar-sign"></i>
                </span>
              </div>
            </div>
            <div class="field">
              <div class="control">
                <button
                  class="button is-primary is-medium is-fullwidth"
                  @click="predict()"
                >
                  <span class="icon">
                    <i class="far fa-credit-card"></i>
                  </span>
                  <span>Apply</span>
                </button>
              </div>
            </div>
          </div>
          <div class="modal" :class="{ 'is-active': showModal }">
            <div class="modal-background" @click="closeModal()"></div>
            <div v-show="!predicted">
              <span class="icon is-10x-large">
                <i class="fas fa-spinner fa-pulse fa-10x"></i>
              </span>
            </div>
            <div class="modal-content">
              <div
                class="box"
                v-show="predicted"
                :class="[prediction ? 'is-danger' : 'is-success']"
              >
                <div class="media">
                  <div class="media-left">
                    <span class="icon is-large" v-show="prediction">
                      <i class="fas fa-3x fa-ban"></i>
                    </span>
                    <span class="icon is-large" v-show="!prediction">
                      <i class="far fa-3x fa-check-circle"></i>
                    </span>
                  </div>
                  <div class="media-content">
                    <span class="is-size-4">{{
                      prediction
                        ? "We're sorry, but we cannot lend to you."
                        : `Sure! We will gladly lend you $${user.loan_amnt ||
                            0}!`
                    }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { auth, functions } from "@/firebase";

const predict = functions.httpsCallable("predict");

export default {
  name: "application",
  data() {
    return {
      showModal: false,
      predicted: false,
      prediction: false
    };
  },
  props: {
    user: Object
  },
  methods: {
    async predict() {
      this.showModal = true;
      console.log("auth");
      const res = await predict(auth.currentUser.uid);
      const result = JSON.parse(res.data);
      console.log(result);
      this.prediction = result.data[0].prediction;
      this.predicted = true;
    },
    closeModal() {
      if (!this.predicted) return;
      this.showModal = this.predicted = false;
    }
  }
};
</script>

<style scoped>
.is-10x-large {
  height: 10rem;
  width: 10rem;
}
.box.is-danger {
  color: #cc0f35;
  background-color: #feecf0;
}
.box.is-success {
  color: #257942;
  background-color: #effaf3;
}
</style>
