<template>
  <div class="home">
    <nav class="navbar has-shadow is-spaced is-light">
      <div class="container">
        <div class="navbar-brand">
          <span class="navbar-item has-text-weight-bold is-family-primary"
            >LdDemo</span
          >
          <div
            class="navbar-burger burger"
            :class="{ 'is-active': menuActive }"
            @click="menuToggle()"
            data-target="navMenu"
          >
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
        <div
          id="navMenu"
          class="navbar-menu"
          :class="{ 'is-active': menuActive }"
        >
          <div class="navbar-start">
            <router-link to="/home/profile" class="navbar-item">
              <span class="icon has-text-info">
                <i class="fas fa-address-card"></i>
              </span>
              <span>Your Profile</span>
            </router-link>
            <router-link to="/home/application" class="navbar-item">
              <span class="icon has-text-success">
                <i class="fas fa-dollar-sign"></i>
              </span>
              <span>Loan Application</span>
            </router-link>
            <router-link to="/home/info" class="navbar-item">
              <span class="icon has-text-grey">
                <i class="fas fa-user-cog"></i>
              </span>
              <span>Inside Info</span>
            </router-link>
          </div>
          <div class="navbar-end">
            <router-link to="/home/license" class="navbar-item">
              <span class="icon has-text-grey">
                <i class="fas fa-info-circle"></i>
              </span>
              <span>About</span>
            </router-link>
            <a
              class="navbar-item button is-grey-light is-small"
              @click="logout()"
            >
              Sign out
            </a>
          </div>
        </div>
      </div>
    </nav>
    <router-view :user="user" />
  </div>
</template>

<script>
import firebase, { auth, db } from "@/firebase";
import debounce from "lodash.debounce";

export default {
  name: "home",
  data() {
    return {
      menuActive: false,
      user: {
        displayName: null,
        email: null,
        loan_amnt: null,
        grade: null,
        sub_grade: null,
        emp_title: null,
        emp_length: null,
        home_ownership: null,
        annual_inc: null,
        purpose: null,
        title: null,
        zip_code: null,
        addr_state: null,
        dti: null,
        delinq_2yrs: null,
        earliest_cr_line: null,
        inq_last_6mths: null,
        mths_since_last_delinq: null,
        mths_since_last_record: null,
        open_acc: null,
        pub_rec: null,
        revol_bal: null,
        revol_util: null,
        total_acc: null,
        initial_list_status: null,
        collections_12_mths_ex_med: null,
        mths_since_last_major_derog: null,
        application_type: null,
        acc_now_delinq: null,
        tot_coll_amt: null,
        tot_cur_bal: null
      }
    };
  },
  created() {
    this.createdPromise = new Promise(async (resolve, reject) => {
      console.log("auth", auth);
      this.userRef = db.ref(`users/${auth.currentUser.uid}`);
      await this.$rtdbBind("user", this.userRef);
      console.log("user", this.user);
      resolve();
    });
  },
  async mounted() {
    await this.createdPromise;
    console.log("mounted", this.userRef);
  },
  watch: {
    // update realtime database
    user: {
      handler: debounce(function() {
        if (this.user) {
          // replace empty strings to null
          for (let i in this.user) {
            if (this.user[i] === "") {
              this.user[i] = null;
            }
          }
          this.userRef.update(this.user).then(result => {
            console.log("update user data");
          });
        }
      }, 1500),
      deep: true
    }
  },
  methods: {
    menuToggle() {
      this.menuActive = !this.menuActive;
    },
    logout() {
      auth.signOut();
    },
    async autoFill() {
      // random number (0-98)
      const n = Math.floor(Math.random() * 99);
      const sampleRef = db.ref(`samples/${n}`);
      const sample = await sampleRef.once("value").catch(e => {
        console.error(e);
      });
      // initialize properties
      for (let i in this.user) {
        if (i === "displayName" || i === "email") continue;
        this.user[i] = null;
      }
      Object.assign(this.user, sample.val());
      return true;
    }
  }
};
</script>
