<template>
  <section id="info" class="hero is-success is-fullheight">
    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="column is-4 is-offset-4">
          <h3 class="title has-text-grey">Inside information for investors</h3>
          <h3 class="subtitle has-text-grey-light">
            This page is shown for demonstration purposes.
          </h3>
          <button
            class="button is-light is-warning"
            @click="$parent.autoFill()"
          >
            <span class="icon">
              <i class="fas fa-paint-roller"></i>
            </span>
            <span>Auto fill (demo)</span>
          </button>
          <div class="box">
            <div class="field">
              <label class="label">ローン対収入</label>
              <div class="control">
                <input class="input" type="number" v-model.number="user.dti" />
              </div>
            </div>
            <div class="field">
              <label class="label">グレード</label>
              <div class="control">
                <div class="select">
                  <select v-model.trim="user.grade">
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="E">E</option>
                    <option value="F">F</option>
                    <option value="G">G</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="field">
              <label class="label">サブグレード</label>
              <div class="control">
                <div class="select">
                  <select v-model.trim="user.sub_grade">
                    <option value="A1">A1</option>
                    <option value="A2">A2</option>
                    <option value="A3">A3</option>
                    <option value="A4">A4</option>
                    <option value="A5">A5</option>
                    <option value="B1">B1</option>
                    <option value="B2">B2</option>
                    <option value="B3">B3</option>
                    <option value="B4">B4</option>
                    <option value="B5">B5</option>
                    <option value="C1">C1</option>
                    <option value="C2">C2</option>
                    <option value="C3">C3</option>
                    <option value="C4">C4</option>
                    <option value="C5">C5</option>
                    <option value="D1">D1</option>
                    <option value="D2">D2</option>
                    <option value="D3">D3</option>
                    <option value="D4">D4</option>
                    <option value="D5">D5</option>
                    <option value="E1">E1</option>
                    <option value="E2">E2</option>
                    <option value="E3">E3</option>
                    <option value="E4">E4</option>
                    <option value="E5">E5</option>
                    <option value="F1">F1</option>
                    <option value="F2">F2</option>
                    <option value="F3">F3</option>
                    <option value="F4">F4</option>
                    <option value="F5">F5</option>
                    <option value="G1">G1</option>
                    <option value="G2">G2</option>
                    <option value="G3">G3</option>
                    <option value="G4">G4</option>
                    <option value="G5">G5</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="field">
              <label class="label">滞納(過去二年)</label>
              <div class="control">
                <input
                  class="input"
                  type="number"
                  v-model.number="user.delinq_2yrs"
                />
              </div>
            </div>
            <div class="field">
              <label class="label">クレジットライン開始</label>
              <div class="control">
                <input
                  class="input"
                  type="text"
                  v-model.trim="user.earliest_cr_line"
                />
              </div>
            </div>
            <div class="field">
              <label class="label">照会数(過去6ヶ月)</label>
              <div class="control">
                <input
                  class="input"
                  type="number"
                  v-model.number="user.inq_last_6mths"
                />
              </div>
            </div>
            <div class="field">
              <label class="label">直近の滞納からの月数</label>
              <div class="control">
                <input
                  class="input"
                  type="number"
                  v-model.number="user.mths_since_last_delinq"
                />
              </div>
            </div>
            <div class="field">
              <label class="label">最終記録からの月数</label>
              <div class="control">
                <input
                  class="input"
                  type="number"
                  v-model.number="user.mths_since_last_record"
                />
              </div>
            </div>
            <div class="field">
              <label class="label">開いているアカウント数</label>
              <div class="control">
                <input
                  class="input"
                  type="number"
                  v-model.number="user.open_acc"
                />
              </div>
            </div>
            <div class="field">
              <label class="label">悪評記録数</label>
              <div class="control">
                <input
                  class="input"
                  type="number"
                  v-model.number="user.pub_rec"
                />
              </div>
            </div>
            <div class="field">
              <label class="label">リボ払い残高</label>
              <div class="control">
                <input
                  class="input"
                  type="number"
                  v-model.number="user.revol_bal"
                />
              </div>
            </div>
            <div class="field">
              <label class="label">リボ枠活用率</label>
              <div class="control">
                <input
                  class="input"
                  type="number"
                  v-model.number="user.revol_util"
                />
              </div>
            </div>
            <div class="field">
              <label class="label">過去の全アカウント数</label>
              <div class="control">
                <input
                  class="input"
                  type="number"
                  v-model.number="user.total_acc"
                />
              </div>
            </div>
            <div class="field">
              <label class="label">ローンリストステータス初期値</label>
              <div class="control">
                <div class="select">
                  <select v-model.trim="user.initial_list_status">
                    <option value="f">f</option>
                    <option value="w">w</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="field">
              <label class="label">徴収数(過去12ヶ月)</label>
              <div class="control">
                <input
                  class="input"
                  type="number"
                  v-model.number="user.collections_12_mths_ex_med"
                />
              </div>
            </div>
            <div class="field">
              <label class="label">前回の悪評価からの月数</label>
              <div class="control">
                <input
                  class="input"
                  type="number"
                  v-model.number="user.mths_since_last_major_derog"
                />
              </div>
            </div>
            <div class="field">
              <label class="label">申し込みタイプ</label>
              <div class="control">
                <div class="select">
                  <select v-model.trim="user.application_type">
                    <option value="INDIVIDUAL">INDIVIDUAL</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="field">
              <label class="label">現行滞納アカウント数</label>
              <div class="control">
                <input
                  class="input"
                  type="number"
                  v-model.number="user.acc_now_delinq"
                />
              </div>
            </div>
            <div class="field">
              <label class="label">徴収総額</label>
              <div class="control">
                <input
                  class="input"
                  type="number"
                  v-model.number="user.tot_coll_amt"
                />
              </div>
            </div>
            <div class="field">
              <label class="label">全口座残高</label>
              <div class="control">
                <input
                  class="input"
                  type="number"
                  v-model.number="user.tot_cur_bal"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: "profile",
  props: {
    user: Object
  }
};
</script>
