<template>
  <section id="license" class="hero is-success is-fullheight">
    <div class="hero-body">
      <div class="container has-text-centered">
        <div id="apache" class="column is-8 is-offset-2 has-text-black">
          <p>Copyright 2019 Kyohei Morihiro</p>
          <p>
            Licensed under the Apache License, Version 2.0 (the "License"); you
            may not use this file except in compliance with the License. You may
            obtain a copy of the License at
          </p>
          <p>
            <a
              href="http://www.apache.org/licenses/LICENSE-2.0"
              target="_blank"
              rel="noopener noreferrer"
              >http://www.apache.org/licenses/LICENSE-2.0</a
            >
          </p>
          <p>
            Unless required by applicable law or agreed to in writing, software
            distributed under the License is distributed on an "AS IS" BASIS,
            WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
            implied. See the License for the specific language governing
            permissions and limitations under the License.
          </p>
        </div>
        <div class="column is-8 is-offset-2 has-text-black">
          <a
            href="https://gitlab.com/kmorihiro/lendingdemo"
            target="_blank"
            rel="noopener noreferrer"
            >Source Code</a
          >
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: "license",
  props: {
    user: Object
  }
};
</script>

<style scoped>
#apache p {
  margin-bottom: 2rem;
}
</style>
