<template>
  <section id="login" class="hero is-success is-fullheight">
    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="column is-4 is-offset-4">
          <h3 class="title has-text-grey">Lending Demo</h3>
          <p class="subtitle has-text-grey">Please login to borrow money.</p>
          <p class="subtitle has-text-grey-light">
            This site is a demonstration site. You cannot actually borrow money.
          </p>
          <!-- <div class="box"> -->
          <!-- <figure class="avatar">
              <img src="./../assets/someavator.png">
            </figure> -->
          <section id="firebaseui-auth-container"></section>
          <!-- </div> -->
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import firebase, { auth, db } from "@/firebase";
import { auth as firebaseuiAuth } from "firebaseui"; // WORKAROUND for firebaseui >4.1.0
import "firebaseui/dist/firebaseui.css";

const usersRef = db.ref("users");

async function singInCallback(authResult) {
  if (authResult.additionalUserInfo.isNewUser) {
    await usersRef.child(authResult.user.uid).set({
      displayName: authResult.user.displayName,
      email: authResult.user.email
    });
  } else {
    await usersRef.child(authResult.user.uid).update({
      displayName: authResult.user.displayName,
      email: authResult.user.email
    });
  }
  return false;
}

export default {
  name: "login",
  mounted() {
    let ui = firebaseuiAuth.AuthUI.getInstance();
    if (!ui) {
      ui = new firebaseuiAuth.AuthUI(auth);
    }

    const uiConfig = {
      signInSuccessUrl: "/home/profile",
      signInFlow: "popup",
      signInOptions: [
        {
          provider: firebase.auth.GoogleAuthProvider.PROVIDER_ID,
          defaultCountry: "JP"
        }
      ],
      callbacks: {
        signInSuccessWithAuthResult: async (authResult, redirectUrl) => {
          singInCallback(authResult);
        }
      }
    };
    ui.start("#firebaseui-auth-container", uiConfig);
  }
};
</script>
