<template>
  <section id="profile" class="hero is-success is-fullheight">
    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="column is-4 is-offset-4">
          <h3 class="title has-text-grey">Please fill out your profile</h3>
          <button
            class="button is-light is-warning"
            @click="$parent.autoFill()"
          >
            <span class="icon">
              <i class="fas fa-paint-roller"></i>
            </span>
            <span>Auto fill (demo)</span>
          </button>
          <div class="box">
            <div class="field">
              <label class="label">名前</label>
              <div class="control has-icons-left">
                <input
                  class="input"
                  type="text"
                  v-model.trim="user.displayName"
                  disabled
                />
                <span class="icon is-left">
                  <i class="fas fa-user"></i>
                </span>
              </div>
            </div>
            <div class="field">
              <label class="label">肩書</label>
              <div class="control has-icons-left">
                <input
                  class="input"
                  type="text"
                  v-model.trim="user.emp_title"
                />
                <span class="icon is-left">
                  <i class="fas fa-user-tie"></i>
                </span>
              </div>
            </div>
            <div class="field">
              <label class="label">勤続年数</label>
              <div class="control has-icons-left">
                <input
                  class="input"
                  type="number"
                  v-model.number="user.emp_length"
                />
                <span class="icon is-left">
                  <i class="fas fa-business-time"></i>
                </span>
              </div>
            </div>
            <div class="field">
              <label class="label">家所有</label>
              <div class="control has-icons-left">
                <div class="select">
                  <select v-model.trim="user.home_ownership">
                    <option value="OWN">Own</option>
                    <option value="MORTGAGE">Mortgage</option>
                    <option value="RENT">Rent</option>
                    <option value="OTHER">Other</option>
                    <option value="NONE">None</option>
                  </select>
                </div>
                <span class="icon is-left">
                  <i class="fas fa-home"></i>
                </span>
              </div>
            </div>
            <div class="field">
              <label class="label">年収入</label>
              <div class="control has-icons-left">
                <input
                  class="input"
                  type="number"
                  v-model.number="user.annual_inc"
                />
                <span class="icon is-left">
                  <i class="fas fa-dollar-sign"></i>
                </span>
              </div>
            </div>
            <div class="field">
              <label class="label">郵便番号</label>
              <div class="control has-icons-left">
                <input class="input" type="text" v-model.trim="user.zip_code" />
                <span class="icon is-left">
                  <i class="fas fa-map-marker"></i>
                </span>
              </div>
            </div>
            <div class="field">
              <label class="label">住所(州)</label>
              <div class="control has-icons-left">
                <div class="select">
                  <select v-model.trim="user.addr_state">
                    <option value="AK">AK</option>
                    <option value="AL">AL</option>
                    <option value="AR">AR</option>
                    <option value="AZ">AZ</option>
                    <option value="CA">CA</option>
                    <option value="CO">CO</option>
                    <option value="CT">CT</option>
                    <option value="DC">DC</option>
                    <option value="DE">DE</option>
                    <option value="FL">FL</option>
                    <option value="GA">GA</option>
                    <option value="HI">HI</option>
                    <option value="IA">IA</option>
                    <option value="ID">ID</option>
                    <option value="IL">IL</option>
                    <option value="IN">IN</option>
                    <option value="KS">KS</option>
                    <option value="KY">KY</option>
                    <option value="LA">LA</option>
                    <option value="MA">MA</option>
                    <option value="MD">MD</option>
                    <option value="ME">ME</option>
                    <option value="MI">MI</option>
                    <option value="MN">MN</option>
                    <option value="MO">MO</option>
                    <option value="MS">MS</option>
                    <option value="MT">MT</option>
                    <option value="NC">NC</option>
                    <option value="ND">ND</option>
                    <option value="NE">NE</option>
                    <option value="NH">NH</option>
                    <option value="NJ">NJ</option>
                    <option value="NM">NM</option>
                    <option value="NV">NV</option>
                    <option value="NY">NY</option>
                    <option value="OH">OH</option>
                    <option value="OK">OK</option>
                    <option value="OR">OR</option>
                    <option value="PA">PA</option>
                    <option value="RI">RI</option>
                    <option value="SC">SC</option>
                    <option value="SD">SD</option>
                    <option value="TN">TN</option>
                    <option value="TX">TX</option>
                    <option value="UT">UT</option>
                    <option value="VA">VA</option>
                    <option value="VT">VT</option>
                    <option value="WA">WA</option>
                    <option value="WI">WI</option>
                    <option value="WV">WV</option>
                    <option value="WY">WY</option>
                  </select>
                </div>
                <span class="icon is-left">
                  <i class="fas fa-flag-usa"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: "profile",
  props: {
    user: Object
  }
};
</script>
